.card-project {
  overflow: hidden;
  // background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 38rem;
  height: 50rem;
  margin: auto;
  color: white;
}

.card-project > img {
  height: 50%;
  width: 100%;
  // object-fit: cover;
}

.card-project h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}


.card-project p {
  font-size: 1rem;
  opacity: .7;
  margin: 0;

}


.card-project .card-project-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-project-infos .card-project-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.projects {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
}
